body{
    background-color: rgb(81, 69, 243);
}
.content{
    border: 2px solid rgb(48, 28, 41) ;
    width: 800px;
    height: 400px;
    background-color: rgb(238, 237, 245);

}
.box1{
    width: 200px;
    height: 200px;
    background-color: rgb(114, 97, 207);
    float: left;
    margin: 100px 100px 100px 100px;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: rgb(114, 97, 207);
    float: right;
    margin: 100px 100px 100px 100px;
}
h1{
    width: inherit;
    position: absolute;
    text-align: center;
}
#center{
  text-align: center;
  margin-top: 45px;

}